<% content_for :title, "New keywords upload" %>

<div class="md:w-2/3 w-full">
  <div class="px-4 sm:px-0 mb-6">
    <h3 class="text-2xl font-semibold text-gray-900">Upload a csv file</h3>
    <p class="mt-1 max-w-2xl text-sm/6 text-gray-500">The first column should be "keyword"<br> <a class="underline hover:text-indigo-500" href="https://docs.google.com/spreadsheets/d/14sXZHMJJhgGLTRWtv9-_lITXo0_diBqs064KjhdITjI/edit?usp=sharing">Click here to see and example as reference</a></p>
  </div>

  <%= render "form", keywords_upload: @keywords_upload %>
</div>
