<% content_for :title, "Showing keywords upload" %>

<div class="md:w-2/3 w-full">
  <div class="px-4 sm:px-0 mb-6">
    <h3 class="text-2xl font-semibold text-gray-900">Keyword Upload Info</h3>
    <p class="mt-1 max-w-2xl text-sm/6 text-gray-500">Details about the uploaded CSV and current status</p>
  </div>

  <%= render @keywords_upload %>

  <hr class="pb-12 text-gray-900/10">

  <div class="flex justify-end">
    <%= button_to "Destroy this keywords upload", @keywords_upload, method: :delete, form_class: "sm:inline-block", class: "w-full rounded-md px-2.5 py-1.5 text-sm text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
  </div>
</div>
