<% content_for :title, "New keyword" %>

<div class="md:w-2/3 w-full">
  <div class="px-4 sm:px-0 mb-6">
    <h3 class="text-2xl font-semibold text-gray-900">New Keyword</h3>
    <p class="mt-1 max-w-2xl text-sm/6 text-gray-500">Add manually one keyword to the queue</p>
  </div>

  <%= render "form", keyword: @keyword %>
</div>
